* {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --primary-color: #7A5E2A;
  --black: #000000;
  --white: #FFFFFF;
  --red: #C92A2A;

  --grey: #D9D9D9;
  --transparent: #FFFFFF00;
}

.font_poppins_bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font_inter_semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.font_poppins_regular {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.font_inter_regular {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}