div.checkin_page_container {
    display: flex;

    & > form {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(100% - 20%);

        & > button {
            color: var(--white);
            padding: .6rem 1rem;

            background-color: var(--primary-color);
            border-radius: 12px;

            width: 40%;

            font-size: clamp(1rem, 1vw, 1.6rem);
        }
    }

    @media screen and (width <= 700px) {
        flex-direction: column;

        & > form {
            width: 100%;
            height: 40vh;
        }
    }
}