.checkin__card--container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background-color: var(--grey);
    border-radius: 12px;

    list-style: none;

    & > div {
        display: flex;
        flex-direction: column;

        gap: .3rem;
    }

    & > span {
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 16px;
        padding: .3rem .6rem;
        
        color: var(--white);

        &.in {
            background-color: var(--primary-color);
        }

        &.out {
            background-color: var(--red);
        }
    }
}