div.container {
    display: flex;

    @media screen and (width <= 700px) {
        flex-direction: column;
        align-items: center;
    }
}

div.container > section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(
        100% - 20%
    );

    padding-block: 0;
    padding-inline: clamp(1rem, 5vw, 5rem);
    gap: 2rem;

    @media screen and (width <= 700px) {
        width: 100%;
    }
}

.employee_overview {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 3rem;

    @media screen and (width <= 700px) {
        flex-direction: column;
        align-items: center;
        
        gap: 1rem;

        & > .departments_info {
            align-items: center;
        }

        & > .employee_options {
            flex-direction: row;
        }
    }
}

.departments_info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    & > ul {
        display: flex;
        gap: 1rem;

        max-width: 400px;
        list-style: none;

        font-size: clamp(.4rem, 3vw, 1rem);
        margin-top: .3rem;
    }
}

.round {
    background-color: var(--primary-color);
    color: var(--white);
    
    padding: .2rem 1rem;
    border-radius: 16px;
}

.employee_options {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: .3rem;

    & > button {
        display: flex;
        align-items: center;

        cursor: pointer;
        
        padding-block: .6rem;
        padding-inline: clamp(.4rem, 1vw, 1rem);
        gap: clamp(0rem, 2vw, .6rem);
        
        background-color: var(--primary-color);
        border-radius: 12px;
        color: var(--white);

        font-size: clamp(.6rem, 3vw, 1rem);

        & > svg {
            height: 20px;
            width: 20px;
        }
    }
}

.employee_info_list {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    width: 100%;
    max-height: clamp(300px, 50vw, 430px);

    gap: 1rem;
}
